@font-face {
  font-family: "Manrope";
  src: url("~common/fonts/Manrope-SemiBold.woff2") format("woff2"), url("~common/fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("~common/fonts/Manrope-Regular.woff2") format("woff2"), url("~common/fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("~common/fonts/Manrope-Medium.woff2") format("woff2"), url("~common/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@mixin noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin resetDiv {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

@mixin resetA {
  background-color: transparent;
  text-decoration: none;
  &:hover,
  &:active {
    outline: none;
  }
}

@mixin resetImg {
  border-style: none;
}

.n8g {
  @include resetDiv;
  padding: 24px 0;
  * {
    @include resetDiv;
    @include resetA;
  }
  a {
    @include noSelection;
  }
  img {
    @include resetImg;
  }
  &-ctr {
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &-ftl {
  }
  &-mfbx {
    display: flex;
    @media (max-width: 576px) {
      flex-wrap: wrap;
    }
  }
  &-mcn {
    margin-right: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  &-icn {
    max-width: 30px;
  }
  &-mbn{
    width: calc(100% - 48px);
    background-color: #f2f4f6;
    padding: 8px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    line-height: 14px;
    font-family: "Manrope", "Helvetica", sans-serif;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #fff;
    &::after{
      background: transparent url("./images/arrow-down-white.svg") center center no-repeat;
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      right: 0;
      top: 0px;
      background-size: 24px;
    }
    @media (min-width: 576px) {
      display: none;
    }
    @media (max-width: 575px) {
      &.is-a{
        &::after{
          transform: rotate(-180deg);
        }
        & + .n8g-mnu{
          display: block;
        }
      }
    }
  }
  &-mnu {
    display: flex;
    border-radius: 4px;
    background-color: #f2f4f6;
    flex: 1;
    width: calc(100% - 48px);
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar{
      display: none;
    }
    @media (max-width: 575px) {
      flex: auto;
      width: 100%;
      margin-top: 8px;
      padding: 8px;
      display: none;
    }
  }
  &-mnl {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 13px 16px;
    @media (min-width: 576px) {
      padding: 0 16px;
    }
    &.is-activated {
      &:hover .n8g-mnt,
      .n8g-mnt{
        color: #fff;
      }
      @media (max-width: 575px) {
        display: none;
      }
    }
    &:hover {
      .n8g-mnt {
        color: #101828;
      }
    }
  }
  &-mnt {
    // color: #babdc2;
    color: #758793;
    font-family: inherit;
    font-weight: inherit;
    font-size: 14px;
    line-height: 14px;
    font-family: "Manrope", "Helvetica", sans-serif;
    font-weight: 600;
    transition: all 0.2s;
  }
  &-mim{
    max-width: 24px;
    margin-right: 8px;
  }
  &-sdl{
    &.n8g-arrows {
      position: relative;
      &::before,
      &::after{
        content: '';
        display: block;
        position: absolute;
        background: #fff url("./images/arrow-down.svg") center center no-repeat;
        width: 40px;
        height: 16px;
        top: 12px;
        background-size: 16px;
        box-shadow: 0px -5px 3px -1px #fff;
      } 
      &::before{
        left: -12px;
        transform: rotate(90deg);
      }
      &::after{
        right: -12px;
        transform: rotate(-90deg);
      }
    }
  }
  &-slm{
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar{
      display: none;
    }
    &.n8g-clone {
      visibility: hidden;
      height: 0;
    }
  }
  a.n8g-sll{
    color: #758793;
    font-family: inherit;
    font-weight: inherit;
    font-size: 13px;
    line-height: 14px;
    font-family: "Manrope", "Helvetica", sans-serif;
    font-weight: 600;
    transition: all 0.2s;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    position: relative;
    @media (min-width: 768px) {
      padding: 0 12px;
    }
    &:visited,
    &:active,
    &:focus{
      color: #758793;
    }
    &:hover,
    &.is-activated {
      color: #101828;
    }
  }
}
