.n30g30 {
  padding: 16px 0 32px;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &.n30g30-is-empty {
    display: none;
  }
  &:not(.n30g30-design--wm-main) {
    .n30g30-first-level-item:first-child {
      &.is-activated,
      &:hover {
        color: #555;
      }
    }
  }
  .n30g30 {
    &-wrapper {
      width: 960px;
      margin: 0 auto;
    }
    &-first-level {
      display: flex;
      align-items: center;
      position: relative;
      &-item {
        font-family: Verdana, Arial, sans-serif;
        text-decoration: none;
        color: #555;
        display: block;
        padding: 0 16px;
        font-size: 14px;
        line-height: 41px;
        margin: 0 18px -1px;
        box-sizing: content-box;
        &.is-activated {
          border: 1px solid #e1e1e1;
          background: #f3f3f3;
          border-radius: 3px 3px 0 0;
          border-bottom: 1px solid #f3f3f3;
        }
        &:first-child {
          font-size: 20px;
          display: flex;
          align-items: center;
          line-height: 52px;
          margin: -9px 0 -1px;
        }
        &-image {
          display: block;
          &-wrapper {
            margin-right: 15px;
          }
        }
      }
    }
    &-second-level {
      background: #f3f3f3;
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      display: flex;
      height: 42px;
      padding: 0 16px;
      align-items: center;
      &-item {
        text-decoration: none;
        display: block;
        color: #555;
        font-family: Verdana, Arial, sans-serif;
        white-space: nowrap;
        padding: 0 14px;
        font-size: 12px;
        line-height: 26px;
        border-radius: 3px;
        margin-right: 14px;
        &.is-activated {
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.n30g30-design--wm-main {
  .n30g30-wrapper {
    position: relative;
  }
  .n30g30-first-level,
  .n30g30-second-level {
    margin-left: 94px;
  }
  .n30g30-first-level-item-image {
    max-width: 58px;
    display: block;
    &-wrapper {
      position: absolute;
      left: -94px;
      top: 0;
      width: 74px;
      height: 74px;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
  .n30g30-first-level {
    padding-left: 15px;
    &-item {
      font-size: 12px;
      height: 35px;
      margin: 0 5px;
      line-height: 35px;
      padding: 0 5px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      &:first-child {
        font-size: 12px;
        line-height: 35px;
        margin: 0 5px;
      }
      &.is-activated {
        background-color: #f3f3f3;
        border: 1px solid #b2b2b2;
        border-bottom: 1px solid #f3f3f3;
        margin-bottom: -1px;
      }
    }
  }
  .n30g30-second-level {
    background-color: #f3f3f3;
    border: none;
    border-top: 1px solid #b2b2b2;
    border-radius: 0;
    padding: 0;
    height: 37px;
    &-item {
      font-size: 11px;
      padding: 0 5px;
      margin: 0 5px;
    }
  }
}

.n30g30-mobile {
  padding: 0;
  .n30g30 {
    &-wrapper {
      width: 100%;
      margin: 0;
    }
    &-first-level {
      display: none;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
      &-item {
        border-bottom: 1px solid #bdbdbd;
        font-size: 14px;
        margin: 0 16px;
        line-height: 41px;
        padding: 0;
        height: auto;
        &:first-child {
          font-size: 14px;
          margin: 0 16px;
          line-height: 41px;
          padding: 0;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    &-first-level-button {
      padding: 0 16px;
      display: flex;
      align-items: center;
      height: 48px;
      position: relative;
      &:after {
        content: "";
        background: url("./images/arrow-bottom-white.png") center center no-repeat;
        background-size: 16px 8px;
        width: 48px;
        height: 48px;
        position: absolute;
        right: 0;
        top: 0;
      }
      &.is-activated {
        &:after {
          transform: rotate(180deg);
        }
        & + .n30g30-first-level {
          display: block;
        }
      }
      &.is-empty {
        &:after,
        &.is-activated:after {
          background-image: none;
        }
      }
      .n30g30-first-level-item-image-wrapper {
        width: 32px;
        height: 32px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
      }
      .n30g30-first-level-item-image {
        display: block;
        width: 100%;
        height: auto;
      }
      .n30g30-first-level-item-text {
        font-family: Verdana, Arial, sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 17px;
      }
    }
    &-second-level {
      display: block;
      padding: 0;
      border: 0;
      height: 50px;
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      background: #fff;
      margin-bottom: 20px;
      border-radius: 0;
      &-line {
        white-space: nowrap;
      }
      &-item {
        display: inline-block;
        padding: 12px 14px 9px;
        border-bottom: 3px solid transparent;
        font-size: 14px;
        border-radius: 0;
        width: auto;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
      }
      &-arrow-left,
      &-arrow-right {
        width: 15px;
        height: 50px;
        position: absolute;
        top: 0;
        background-color: #fff;
        display: block;
        z-index: 10;
        background-size: 5px 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &.is-hidden {
          display: none;
        }
        &:before {
          content: "";
          display: block;
          width: 10px;
          height: 50px;
          position: absolute;
          top: 0;
        }
        &:after {
          content: "";
          display: block;
          width: 10px;
          height: 16px;
          background: url("./images/arrow-left-gray.png") center center no-repeat;
          background-size: 5px 8px;
        }
      }
      &-arrow-left {
        left: -1px;
        justify-content: flex-end;
        &:before {
          background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
          left: 14px;
        }
      }
      &-arrow-right {
        right: -1px;
        &:after {
          transform: rotate(180deg);
        }
        &:before {
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
          right: 14px;
        }
      }
      &.swiper {
        width: 100%;
        margin-left: 0;
      }
    }
  }
  &.n30g30-design--wm-main {
    .n30g30-first-level-item.is-activated {
      background-color: transparent;
      border: none;
      margin-bottom: 0;
      &:not(:last-child) {
        border-bottom: 1px solid #bdbdbd;
      }
    }
  }
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-SemiBold.woff2") format("woff2"), url("fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Regular.woff2") format("woff2"), url("fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Medium.woff2") format("woff2"), url("fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@mixin noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin resetDiv {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

@mixin resetA {
  background-color: transparent;
  text-decoration: none;
  &:hover,
  &:active {
    outline: none;
  }
}

@mixin resetImg {
  border-style: none;
}

.n8g {
  @include resetDiv;
  * {
    @include resetDiv;
    @include resetA;
  }
  a {
    @include noSelection;
  }
  img {
    @include resetImg;
  }
  &-ctr {
    min-width: 320px;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &-ftl {
  }
  &-mfbx {
    display: flex;
  }
  &-mcn {
    margin-right: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  &-icn {
    max-width: 30px;
  }
  &-mnu {
    display: flex;
    border-radius: 4px;
    background-color: #f2f4f6;
    flex: 1;
  }
  &-mnl {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    &.is-activated {
      &:hover .n8g-mnt,
      .n8g-mnt{
        color: #fff;
      }
    }
    &:hover {
      .n8g-mnt {
        color: #101828;
      }
    }
  }
  &-mnt {
    // color: #babdc2;
    color: #758793;
    font-family: inherit;
    font-weight: inherit;
    font-size: 14px;
    line-height: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    transition: all 0.2s;
  }
  &-mim{
    max-width: 24px;
    margin-right: 8px;
  }
  &-sdl{
    // margin-top: 8px;
  }
  &-slm{
    display: flex;
  }
  &-sll{
    color: #758793;
    font-family: inherit;
    font-weight: inherit;
    font-size: 13px;
    line-height: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    transition: all 0.2s;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      background-color: #b0b8bf;
      top: 14px;
      bottom: 12px;
      width: 1px;
      right: 0;
    }
    &:last-child:after{
      display: none;
    }
    &:hover,
    &.is-activated {
      color: #101828;
    }
  }
}
