@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-SemiBold.woff2") format("woff2"), url("fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Regular.woff2") format("woff2"), url("fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Medium.woff2") format("woff2"), url("fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@mixin noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin resetDiv {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

@mixin resetA {
  background-color: transparent;
  text-decoration: none;
  &:hover,
  &:active {
    outline: none;
  }
}

@mixin resetImg {
  border-style: none;
}

.n8g {
  @include resetDiv;
  padding: 24px 0;
  * {
    @include resetDiv;
    @include resetA;
  }
  a {
    @include noSelection;
  }
  img {
    @include resetImg;
  }
  &-ctr {
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &-ftl {
  }
  &-mfbx {
    display: flex;
  }
  &-mcn {
    margin-right: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  &-icn {
    max-width: 30px;
  }
  &-mnu {
    display: flex;
    border-radius: 4px;
    background-color: #f2f4f6;
    flex: 1;
  }
  &-mnl {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    &.is-activated {
      &:hover .n8g-mnt,
      .n8g-mnt{
        color: #fff;
      }
    }
    &:hover {
      .n8g-mnt {
        color: #101828;
      }
    }
  }
  &-mnt {
    // color: #babdc2;
    color: #758793;
    font-family: inherit;
    font-weight: inherit;
    font-size: 14px;
    line-height: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    transition: all 0.2s;
  }
  &-mim{
    max-width: 24px;
    margin-right: 8px;
  }
  &-sdl{
    // margin-top: 8px;
  }
  &-slm{
    display: flex;
  }
  &-sll{
    color: #758793;
    font-family: inherit;
    font-weight: inherit;
    font-size: 13px;
    line-height: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    transition: all 0.2s;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    position: relative;
    &:hover,
    &.is-activated {
      color: #101828;
    }
  }
}
