$gray50: #F9FAFB;
$gray100: #F3F4F6;
$gray200: #E5E7EB;
$gray300: #D2D6DB;
$gray400: #9DA4AE;
$gray500: #6C737F;
$gray600: #4D5761;
$gray700: #384250;
$gray800: #1F2A37;
$gray900: #111927;
$brand500: #036CB5;
$white: #ffffff;
$brandlight: rgba(3, 108, 181, 0.05);

$fontbodysemibold: 600 16px/24px "Manrope", "Helvetica", sans-serif;
$footnotemedium: 500 12px/20px "Manrope", "Helvetica", sans-serif;


@font-face {
  font-family: "Manrope";
  src: url("~common/fonts/Manrope-SemiBold.woff2") format("woff2"),
    url("~common/fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("~common/fonts/Manrope-Regular.woff2") format("woff2"),
    url("~common/fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("~common/fonts/Manrope-Medium.woff2") format("woff2"),
    url("~common/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@mixin noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin resetDiv {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

@mixin resetA {
  background-color: transparent;
  text-decoration: none;
  &:hover,
  &:active {
    outline: none;
  }
}

@mixin resetImg {
  border-style: none;
}

.n9g {
  @include resetDiv;
  * {
    @include resetDiv;
    @include resetA;
  }
  a {
    @include noSelection;
  }
  img {
    @include resetImg;
  }
  &-ctr {
    min-width: 960px;
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  &-bnr {
    margin-bottom: 24px;
    img, 
    iframe {
      display: block;
      max-width: 100%;
      border-radius: 8px;
      margin: 0 auto;
    }
  }
  &-ln {
    padding: 0;
  }
  &-lnf {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -1px 0 $gray100;
    padding: 8px 0;
    border-bottom: 1px solid $gray100;
  }
  &-ll {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: flex-start;
  }
  a.n9g-lll {
    font: $fontbodysemibold;
    padding: 4px 16px 4px 0;
    color: $gray600;
    display: inline-flex;
    transition: all 0.2s;
    &:visited,
    &:active,
    &:focus{
      color: $gray600;
    }
    &:hover {
      color: $brand500;
    }
  }
  &-lr {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: flex-end;
    padding: 16px 0;
  }
  &-lrl {
    display: block;
    background-color: #9fb1bd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 12px;
    width: 24px;
    height: 24px;
    margin-bottom: 0px;
    &:last-child {
      margin-right: 0;
    }
    &--tw {
      &:hover {
        background-color: #2DAAE1;
      }
    }
    &--vk {
      &:hover {
        background-color: #0077FF;
      }
    }
    &--od {
      &:hover {
        background-color: #F7931E;
      }
    }
    &--yt {
      &:hover {
        background-color: #FF0000;
      }
    }
    &--tg {
      &:hover {
        background: linear-gradient(180deg, #2AABEE 0%, #229ED9 99.21%);
      }
    }
    &--fb {
      &:hover {
        background-color: #1877F2;
      }
    }
    &--im {
      &:hover {
        background: radial-gradient(92.18% 99.11% at 26.56% 107.7%, #FFDD55 0%, #FFDD55 10%, #FF543E 50%, #C837AB 100%);
      }
    }
  }
  &-mdl {
    padding: 24px 0 0;
  }
  &-rw {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  &-cln {
    padding: 0 16px;
    width: 25%;
    margin-bottom: 40px;
    &--x2 {
      width: 50%;
    }
  }
  &-mtl {
    font: $fontbodysemibold;
    color: $gray600;
    padding: 16px 0;
    cursor: default;
  }
  a.n9g-mlk {
    font: $footnotemedium;
    color: $gray500;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    padding: 6px 0;
    text-decoration: none;
    &:visited,
    &:active,
    &:focus{
      color: $gray500;
    }
    &:hover {
      color: $brand500;
    }
  }
  &-aps {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  &-ait {
    display: flex;
    align-items: center;
    width: 33.333333%;
    flex-wrap: nowrap;
  }
  &-aim {
    border-radius: 24px;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &-aig {
    display: block;
    max-width: 100%;
  }
  &-atx {
    font: $footnotemedium;
    color: $gray500;
    width: calc(100% - 56px);
  }
  &-brw {
    box-shadow: 0px -1px 0 $gray100;
    padding: 24px 0;
  }
  &-btp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &-bbp {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &-cprt {
    font: $footnotemedium;
    color: $gray300;
    max-width: 124px;
  }
  &-lngs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &-ctx {
    font: $footnotemedium;
    color: $gray300;
    max-width: 476px;
    text-align: right;
    margin-bottom: 0;
  }
  &-lgc {
    font: $footnotemedium;
    color: $gray400;
    cursor: pointer;
    position: relative;
    text-indent: 0;
    padding: 8px 24px 8px 32px;
    display: block;
    &:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: transparent url("images/arrow-down.svg") center center
        no-repeat;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
      background-size: 22px;
    }
  }
  &-lgl {
    display: none;
  }
  &-lgsl {
    position: relative;
    &.n9g-is-a{
      .n9g-lgc{
        &:after {
          transform: rotate(-180deg);
        }
      }
      .n9g-lgl {
        position: absolute;
        display: block;
        bottom: 100%;
        background-color: #fff;
        right: 0;
        border: 1px solid #F3F4F6;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
      }
    }
  }
  &-fru {
    background: transparent url("images/flags/ru.svg") left center no-repeat;
    background-size: 24px;
  }
  &-fen {
    background: transparent url("images/flags/en.svg") left center no-repeat;
    background-size: 24px;
  }
  &-fes {
    background: transparent url("images/flags/es.svg") left center no-repeat;
    background-size: 24px;
  }
  &-fpt {
    background: transparent url("images/flags/pt.svg") left center no-repeat;
    background-size: 24px;
  }
  &-ftr {
    background: transparent url("images/flags/tr.svg") left center no-repeat;
    background-size: 24px;
  }
  &-fvn {
    background: transparent url("images/flags/vn.svg") left center no-repeat;
    background-size: 24px;
  }
  &-lgi {
    padding: 6px 8px 6px 40px;
    font: $footnotemedium;
    color: $gray500;
    cursor: pointer;
    background-position-x: 8px;
    display: block;
    box-shadow: 0px -1px 0 $gray100;
    background-color: $white;
    transition: background-color 0.3s;
    &:hover {
      background-color: $gray100;
    }
  }
  &.n9g-desktop {
    min-width: 960px;
  }
  &.n9g-adaptive {
    a.n9g-mlk {
      @media (max-width: 575px) {
        padding: 6px 8px;
      }
    }
    a.n9g-lll {
      border-radius: 8px;
      cursor: pointer;
      display: block;
      @media (max-width: 575px) {
        background: $brandlight;
        width: calc(50% - 4px);
        margin: 0 4px 8px 0;
        padding: 4px 8px;
        color: $brand500;
        &:nth-child(2n){
          margin-right: 0;
          margin-left: 4px;
        }
        &:visited,
        &:active,
        &:focus{
          color: $brand500;
        }
      }
    }
    .n9g{
      &-ctr {
        width: 100%;
        min-width: 320px;
        max-width: 960px;
        padding: 0 16px;
      }
      &-bnr {
        display: none;
        @media (min-width: 768px) {
          display: block;
        }
      }
      &-lnf {
        @media (max-width: 767px) {
          justify-content: center;
          padding: 16px 0;
        }
        @media (max-width: 575px) {
          padding: 0;
          border-bottom: none;
        }
      }
      &-ll {
        
        @media (max-width: 575px) {
          padding: 16px 0 0;
          width: 100%;
        }
      }
    
      &-lr {
        @media (max-width: 575px) {
          padding: 16px 0 24px;
        }
        @media (max-width: 767px) {
          justify-content: center;
        }
      }
      &-mdl {
        @media (max-width: 575px) {
          padding: 0;
        }
      }
      &-cln {
        width: 100%;
        margin-bottom: 16px;
        &[data-n7g-toggle-item] {
          @media (max-width: 575px) {
            margin-bottom: 0;
            .n9g-mtl{
              position: relative;
              box-shadow: 0px -1px 0 $gray100;
              &:after {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background: transparent url("images/arrow-down.svg") center center
                  no-repeat;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -12px;
                background-size: 24px;
              }
            }
            .n9g-mlk{
              display: none;
            }
            &.n7g-is-a{
              padding-bottom: 12px;
              .n9g-mtl{
                &:after {
                  background: transparent url("images/arrow-up.svg") center center
                  no-repeat;
                }
              }
              .n9g-mlk{
                display: block;
              }
            }
          }
        }
        @media (min-width: 576px) {
          width: 50%;
          margin-bottom: 24px;
        }
        @media (min-width: 768px) {
          width: 25%;
          margin-bottom: 40px;
        }
        &--x2 {
          width: 100%;
          @media (min-width: 768px) {
            width: 50%;
          }
        }
      }
      &-mtl {
        &.n9g-smp{
          @media (max-width: 575px) {
            padding-top: 24px;
            box-shadow: 0px -1px 0 $gray100;
            color: $gray400;
          }
        }
      }
      &-pc {
        @media (max-width: 767px) {
          display: none;
        }
      }
      &-aps {
        margin-bottom: 0;
        @media (min-width: 768px) {
          margin-bottom: 16px;
        }
        @media (max-width: 575px) {
          margin-left: -8px;
          margin-right: -8px;
        }
      }
      &-atx{
        @media (max-width: 575px) {
          font: $fontbodysemibold;
        }
      }
      &-ait {
        width: 50%;
        flex-wrap: wrap;
        @media (min-width: 496px) {
          width: 33.333333%;
          flex-wrap: nowrap;
        }
        @media (max-width: 575px) {
          padding-bottom: 8px;
        }
      }
      &-btp {

      }
      &-bbp {
        flex-direction: column-reverse;
        @media (min-width: 768px) {
          flex-direction: row;
        }
      }
      &-ctx {
        text-align: left;
        margin-bottom: 12px;
        @media (min-width: 768px) {
          text-align: right;
          margin-bottom: 0;
        }
      }
      &-lgc {
        padding: 8px 16px 8px 32px;
        text-indent: -9999px;
        @media (min-width: 576px) {
          text-indent: 0;
          padding: 8px 24px 8px 32px;
        }
      }
      &-lgsl {
        &.n9g-is-a{
          .n9g-lgl {
            &:after,
            &:before {
              left: 66px;
              @media (min-width: 576px) {
                left: 16px;
              }
            }
          }
        }
      }
    }
  }
}
