@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-SemiBold.woff2") format("woff2"),
    url("fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Regular.woff2") format("woff2"),
    url("fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Medium.woff2") format("woff2"),
    url("fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@mixin noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin resetDiv {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

@mixin resetA {
  background-color: transparent;
  text-decoration: none;
  &:hover,
  &:active {
    outline: none;
  }
}

@mixin resetImg {
  border-style: none;
}

.n9g {
  @include resetDiv;
  * {
    @include resetDiv;
    @include resetA;
  }
  a {
    @include noSelection;
  }
  img {
    @include resetImg;
  }
  &-ctr {
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &-bnr {
    margin-bottom: 24px;
    img {
      display: block;
      max-width: 100%;
      border-radius: 8px;
    }
  }
  &-ln {
    box-shadow: 0px 0px 0px 1px #eee;
    padding: 16px 0 8px;
    @media (min-width: 768px) {
      padding: 0;
    }
    &f {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-ll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 360px) {
      justify-content: space-between;
      width: 100%;
    }
    @media (min-width: 576px) {
      width: auto;
      justify-content: flex-start;
    }
    a.n9g-lll {
      color: #101828;
      font-family: "Manrope", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 32px;
      cursor: pointer;
      transition: all 0.2s;
      display: block;
      margin-right: 8px;
      @media (min-width: 360px) {
        margin-right: 0;
      }
      @media (min-width: 576px) {
        margin-right: 16px;
      }
      @media (min-width: 768px) {
        padding: 16px 0;
        margin-right: 32px;
      }
      &:hover {
        color: #006cb4;
      }
    }
  }
  &-lr {
    display: flex;
    padding: 16px 0 0;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    @media (min-width: 576px) {
      flex: auto;
      justify-content: flex-end;
      padding: 16px 0;
    }
    &l {
      display: block;
      width: 32px;
      height: 32px;
      background-color: #9fb1bd;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s;
      margin-right: 16px;
      margin-bottom: 16px;
      @media (min-width: 576px) {
        width: 20px;
        height: 20px;
        margin-bottom: 0px;
      }
      &:last-child {
        margin-right: 0;
      }
      &--tw {
        &:hover {
          background-color: #2DAAE1;
        }
      }
      &--vk {
        &:hover {
          background-color: #0077FF;
        }
      }
      &--od {
        &:hover {
          background-color: #F7931E;
        }
      }
      &--yt {
        &:hover {
          background-color: #FF0000;
        }
      }
      &--tg {
        &:hover {
          background-color: #2AABEE;
        }
      }
      &--fb {
        &:hover {
          background-color: #1877F2;
        }
      }
      &--im {
        &:hover {
          background-color: #e9378a; 
        }
      }
    }
  }
  &-lri {
    width: 32px;
    height: 32px;
    @media (min-width: 576px) {
      width: 20px;
      height: 20px;
    }
  }
  &-mdl {
    padding: 24px 0 0;
  }
  &-rw {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  &-cln {
    width: 100%;
    margin-bottom: 16px;
    padding: 0 16px;
    @media (min-width: 576px) {
      width: 50%;
      margin-bottom: 24px;
    }
    @media (min-width: 768px) {
      width: 25%;
      margin-bottom: 40px;
    }
    &--x2 {
      width: 100%;
      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }
  &-mtl {
    color: #101828;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 0;
    font-weight: 600;
    cursor: default;
    margin-bottom: 4px;
    @media (min-width: 768px) {
      margin-bottom: 12px;
    }
  }
  a.n9g-mlk {
    color: #707070;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 8px 4px 0;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    display: inline-flex;
    @media (min-width: 768px) {
      display: block;
      padding: 4px 0;
    }
    &:hover {
      color: #006cb4;
    }
  }
  &-aps {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      margin-bottom: 16px;
    }
  }
  &-ait {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    flex-wrap: wrap;
    @media (min-width: 496px) {
      width: 33.333333%;
      flex-wrap: nowrap;
    }
  }
  &-aim {
    border: 1px solid #eeeeee;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 12px;
  }
  &-aig {
    display: block;
    max-width: 100%;
  }
  &-atx {
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #101828;
    margin-right: 8px;
    width: calc(100% - 68px);
  }
  &-brw {
    border-top: 1px solid #d9d9d9;
    padding: 24px 0 48px;
  }
  &-btp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
  }
  &-bbp {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  &-cprt {
    font-family: "Manrope", sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    color: #babcbf;
    max-width: 124px;
  }
  &-lngs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &-ctx {
    font-family: "Manrope", sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    color: #babcbf;
    max-width: 476px;
    margin-bottom: 32px;
    @media (min-width: 768px) {
      text-align: right;
      margin-bottom: 0;
    }
  }
  &-lgc {
    font-family: "Manrope", sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    color: #babcbf;
    padding: 8px 16px 8px 32px;
    cursor: pointer;
    position: relative;
    text-indent: -9999px;
    @media (min-width: 576px) {
      text-indent: 0;
      padding: 8px 24px 8px 32px;
    }
    &:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: transparent url("images/arrow-down.svg") center center
        no-repeat;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
      opacity: 0.3;
      background-size: 16px;
    }
  }
  &-lgl {
    display: none;
  }
  &-lgsl {
    position: relative;
    &.is-activated{
      .n9g-lgc{
        &:after {
          transform: rotate(-180deg);
        }
      }
      .n9g-lgl {
        position: absolute;
        display: block;
        bottom: 100%;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        right: 0;
        box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
        width: 104px;
        padding: 8px 0;
        margin-bottom: 6px;
        &:after,
        &:before {
          top: 100%;
          left: 66px;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          @media (min-width: 576px) {
            left: 16px;
          }
        }
  
        &:after {
          border-color: rgba(255, 255, 255, 0);
          border-top-color: #fff;
          border-width: 6px;
          margin-left: -6px;
        }
        &:before {
          border-color: rgba(217, 217, 217, 0);
          border-top-color: #d9d9d9;
          border-width: 7px;
          margin-left: -7px;
        }
      }
    }
  }
  &-fru {
    background: transparent url("images/flags/ru.svg") left center no-repeat;
    background-size: 24px;
  }
  &-fen {
    background: transparent url("images/flags/en.svg") left center no-repeat;
    background-size: 24px;
  }
  &-fes {
    background: transparent url("images/flags/es.svg") left center no-repeat;
    background-size: 24px;
  }
  &-fpt {
    background: transparent url("images/flags/pt.svg") left center no-repeat;
    background-size: 24px;
  }
  &-ftr {
    background: transparent url("images/flags/tr.svg") left center no-repeat;
    background-size: 24px;
  }
  &-fvn {
    background: transparent url("images/flags/ru.svg") left center no-repeat;
    background-size: 24px;
  }
  &-lgi {
    padding: 0 8px 0 40px;
    font-family: "Manrope", sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
    color: #838a8e;
    cursor: pointer;
    background-position-x: 8px;
    display: block;
    &:hover {
      color: #006cb4;
    }
  }
}
