@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-SemiBold.woff2") format("woff2"), url("fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Regular.woff2") format("woff2"), url("fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Medium.woff2") format("woff2"), url("fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@mixin noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin resetDiv {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

@mixin resetA {
  background-color: transparent;
  text-decoration: none;
  &:hover,
  &:active {
    outline: none;
  }
}

@mixin resetImg {
  border-style: none;
}

.n7g {
  @include resetDiv;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px #eeeeee;
  * {
    @include resetDiv;
    @include resetA;
  }
  a {
    @include noSelection;
  }
  img {
    @include resetImg;
  }
  &-ctr {
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &-flv{
    padding: 0;
    display: flex;
    align-items: center;
  }
  &-row{
    display: flex;
  }
  &-spb{
    justify-content: space-between;
  }
  &-bgr{
    width: 48px;
    height: 48px;
    background: transparent url("./images/bgr.svg") center center no-repeat;
    margin-left: -16px;
    background-size: 32px;
    cursor: pointer;
    &.is-a{
      background: transparent url("./images/bgr-a.svg") center center no-repeat;
      background-size: 32px;
    }
    @media (min-width: 768px) {
      display: none;
    }
    &-dd{
      display: none;
      &.is-a{
        height: 48px;
        display: block;
      }
      @media (min-width: 768px) {
        display: none;
        &.is-a{
          display: none;
        }
      }
    }
  }
  &-lft{
    display: flex;
  }
  &-llg{
    display: flex;
    align-items: center;
  }
  &-lgo{
    padding: 8px 0;
    display: block;
    @media (min-width: 768px) {
      padding: 16px 0;
      margin-right: 32px;
    }
  }
  &-lgi{ 
    display: block;
    height: 32px;
  }
  &-mdl{
    flex: 1;
    display: flex;
    align-items: center;
    position: absolute;
    display: none;
    @media (min-width: 768px) {
      position: relative;
      padding-right: 64px;
      display: flex;

    }
  }
  &-dtr{
    width: 2px;
    background-color: #eeeeee;
    height: calc(100% - 32px);
    margin-right: 32px;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &-svs{
    background: transparent url("./images/svs.svg") center center no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 32px;
    &.is-a{
      background: transparent url("./images/svs-a.svg") center center no-repeat;
    }
  }
  &-svi{
    // max-width: 180px;
    // padding: 0 16px;
    // margin-bottom: 24px;
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 8px;
  }
  &-sic{
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  &-sim{
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }
  &-simg{
    width: 24px;
    display: block;
    height: auto;
  }
  &-stl{
    color: #101828;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    transition: all 0.2s;
    display: block;
    &:hover{
      color: #000;
    }
  }
  &-lks{
    display: flex;
  }
  &-lki{
    display: block;
    padding: 6px 40px 6px 8px;
    margin-right: 16px;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    font-family: "Manrope";
    transition: all 0.2s;
    &:after{
      content: "";
      display: block;
      background: transparent url("./images/arrow-down.svg") center center no-repeat;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -16px;
    }
    &.is-a {
      &:after {
        transform: rotate(-180deg);
        margin-top: -15px;
      }
    }
  }
  &-srh{
    position: absolute;
    right: 32px;
    width: 32px;
    background-color: #fff;
    border-radius: 4px;
    &.is-a{
      left: 32px;
      z-index: 1;
      width: 100%;
    }
  }
  &-sbtn{
    background: transparent url("./images/search.svg") center center no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  &-rgt{
    display: flex;
    align-items: center;
  }
  &-lbs{
    display: flex;
  }
  &-lbi{
    font-family: "Manrope";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 7px 16px;
    display: block;
    border: 1px solid;
    border-radius: 8px;
    margin-right: -16px; 
    @media (min-width: 768px) {
      margin-left: 16px;
      margin-right: 0; 
    }
    &--log{
      @media (max-width: 767px) {
        background: transparent url("./images/login.svg") center center no-repeat;
        border: none;
        width: 48px;
        height: 48px;
        border-radius: 0;
        text-indent: -9999px;
        background-size: 32px;
      }
      @media (min-width: 768px) {
        background-color: #006cb4;
        border-color: #006cb4;
        color: #fff;
      }
    }
    &--reg{
      border-color: #006cb4;
      color: #006cb4;
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
  &-slv{
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    top: 64px;
    left: 0;
    right: 0;
    padding: 24px 0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    z-index: 2;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    position: absolute;
    display: none;
    &.is-a{
      max-height: 1000px;
      opacity: 1;
      visibility: visible;
      position: static;
      @media (min-width: 768px) {
        position: absolute;
      }
    }
    @media (min-width: 768px) {
      display: block;
    }
  }
  &-col{
    flex: 1;
    padding: 0 16px;
  }
  &-clm{
    & + .n7g-clm {
      margin-top: 24px;
    }
  }
  &-ttl{
    font-family: "Manrope";
    font-weight: 600;
    font-size: 13px;
    line-height: 32px;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 16px;
  }
  &-lnk{
    display: block;
    text-decoration: none;
    font-family: "Manrope";
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 16px;
    color: #707070;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover{
      color: #006cb4;
    }
  }
}