@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-SemiBold.woff2") format("woff2"), url("fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Regular.woff2") format("woff2"), url("fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Medium.woff2") format("woff2"), url("fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@mixin noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin resetDiv {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

@mixin resetA {
  background-color: transparent;
  text-decoration: none;
  &:hover,
  &:active {
    outline: none;
  }
}

@mixin resetImg {
  border-style: none;
}

.n7g {
  @include resetDiv;
  width: 100%;
  // overflow: hidden;
  box-shadow: 0 1px #eeeeee;
  * {
    @include resetDiv;
    @include resetA;
  }
  a {
    @include noSelection;
  }
  img {
    @include resetImg;
  }
  &-ctr {
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    @media (min-width: 992px) {
      padding: 0;
    }
  }
  &-flv{
    padding: 0;
    display: flex;
    align-items: center;
  }
  &-row{
    display: flex;
  }
  &-spb{
    justify-content: space-between;
  }
  &-bgr{
    width: 48px;
    height: 48px;
    background: transparent url("./images/bgr.svg") center center no-repeat;
    margin-left: -16px;
    background-size: 32px;
    cursor: pointer;
    &.is-a{
      background: transparent url("./images/bgr-a.svg") center center no-repeat;
      background-size: 32px;
      @media (max-width: 767px) {
        & + .n7g-lft {
          .n7g-mdl {
            left: 0;
            top: 48px;
            right: 0;
            align-items: center;
            height: 48px;
            @media (max-width: 575px) {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
    @media (min-width: 576px) {
      display: none;
    }
    &-dd{
      display: none;
      &.is-a{
        height: 48px;
        display: block;
      }
      @media (min-width: 576px) {
        display: none;
        &.is-a{
          display: none;
        }
      }
    }
  }
  &-lft{
    display: flex;
    flex: 1;
  }
  &-llg{
    display: flex;
    align-items: center;
  }
  &-lgo{
    padding: 8px 0;
    display: block;
    @media (min-width: 768px) {
      padding: 16px 0;
      margin-right: 32px;
    }
  }
  &-lgi{ 
    display: block;
    height: 32px;
  }
  &-mdl{
    flex: 1;
    display: flex;
    align-items: center;
    position: absolute;
    display: none;
    min-width: 320px;
    @media (min-width: 576px) {
      position: static;
      display: flex;
      padding-left: 16px;
    }
    @media (min-width: 768px) {
      padding-left: 0;
      padding-right: 64px;
      display: flex;
    }
  }
  &-dtr{
    width: 2px;
    background-color: #eeeeee;
    height: calc(100% - 32px);
    margin-right: 32px;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &-svs{
    background: transparent url("./images/svs.svg") center center no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
    @media (max-width: 767px) {
      background-size: 28px;
    }
    @media (min-width: 768px) {
      margin-right: 32px;
    }
    &.is-a{
      background: transparent url("./images/svs-a.svg") center center no-repeat;
      @media (max-width: 767px) {
        background-size: 28px;
      }
    }
  }
  // &-mnu{
  //   display: flex;
  // }
  &-cnt{
    @media (min-width: 768px) {
      display: flex;
    }
  }
  &-mni{
    cursor: default;
    flex: 1;
    font-family: "Manrope";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 0;
    margin-bottom: 8px;
    display: block;
    @media (min-width: 768px) {
      margin-bottom: 16px;
    }
  }
  &-cti{
    flex: 1;
    @media (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &-svi{
    margin-bottom: 16px;
    align-items: center;
    padding-right: 16px;
    display: flex;
    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
  }
  &-sic{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }
  &-sim{
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }
  &-simg{
    width: 24px;
    display: block;
    height: auto;
  }
  &-stl{
    color: #707070;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    transition: all 0.2s;
    display: block;
    &:hover{
      color: #006cb4;
    }
  }
  &-lks{
    display: flex;
  }
  &-lki{
    display: block;
    padding: 0 8px;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    font-family: "Manrope";
    transition: all 0.2s;
    &.is-a {
      color: #006cb4;
    }
    @media (min-width: 768px) {
      padding: 6px 40px 6px 8px;
      margin-right: 16px;
      &:after{
        content: "";
        display: block;
        background: transparent url("./images/arrow-down.svg") center center no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
        right: 8px;
        top: 50%;
        margin-top: -16px;
      }
      &.is-a {
        color: #101828;
        &:after {
          transform: rotate(-180deg);
          margin-top: -15px;
        }
      }
    }
  }
  &-srh{
    background-color: #fff;
    border-radius: 4px;
    @media (min-width: 768px) {
      right: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.is-a{
      .n7g-sbtn{
        background: transparent url("./images/search-a.svg") center center no-repeat;
      }
      // left: 32px;
      // z-index: 1;
      // width: 100%;
      // border-color: #f2f4f6;
      // .n7g-sctr{
      //   display: block;
      // }
    }
  }
  &-srch-dd{

  }
  &-sbtn{
    background: transparent url("./images/search.svg") center center no-repeat;
    width: 38px;
    height: 38px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  input.n7g-sbxi{
    height: auto;
    border: 1px solid #cfd1d4;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 11px 16px;
    line-height: 16px;
    font-family: "Manrope";
    font-size: 14px;
    &:focus{
      border-color: #bac1c8;
      outline: none;
      border-color: #cfd1d4;
      outline: none;
    }
  }
  &-sbxb{
    font-family: "Manrope";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 7px 16px;
    display: block;
    border: 1px solid;
    border-radius: 4px;
    background-color: #006cb4;
    border-color: #006cb4;
    color: #fff;
    margin-left: 16px;
    cursor: pointer;
  }
  &-smr{
    display: flex;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  a.n7g-sml{
    font-family: "Manrope";
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 8px;
    margin-right: 8px;
    color: #758793;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    transition: all .2s ease;
    @media (max-width: 767px) {
      margin-bottom: 8px;
    }
    &:hover{
      border-color: #758793;
    }
    &.n7g-sml-a{
      border-color: #006cb4;
      color: #006cb4;
    }
  }
  &-sctr{
    // display: none;
    // position: absolute;
    // left: 0;
    // top: 0;
    // right: 0;
    // bottom: 0;
    display: flex;
    margin-bottom: 16px;
  }
  &-rgt{
    display: flex;
    align-items: center;
  }
  &-lgb{
    height: 100%;
    &.is-logged-in{
      .n7g-lbs{
        display: none;
      }
    }
    &.is-not-logged-in{
      .n7g-lgw{
        display: none;
      }
    }
  }
  &-lbs{
    display: flex;
  }
  &-lgw{
    position: relative;
    display: flex;
    height: 100%;
    &.is-opened{
      .n7g-wdw{
        opacity: 3;
        visibility: visible;
      }
    }
  }
  &-uln{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &-unm{
    font-family: "Manrope";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-right: 16px;
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
  }
  &-uim{
    width: 32px;
    height: 32px;
    border-radius: 32px;
  }
  &-wdw{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    border: 1px solid #eeeeee;
    background-color: #fff;
    top: 100%;
    z-index: 99;
    width: 240px;
    right: 0;
    padding: 0 0 8px;
  }
  &-usr{
    background-color: #f2f4f6;
    padding: 8px;
    margin-bottom: 8px;
  }
  &-uwr{
    display: flex;
    align-items: center;
  }
  &-uil{
    display: block;
    margin-right: 8px;
  } 
  &-uifm{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
  }
  &-uif{
    width: calc(100% - 48px);
  }
  &-ufnm{
    color: #000;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: block;
  }
  &-unt{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  &-itm{
    color: #758793;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 8px 12px 40px;
    display: block;
    cursor: pointer;
    transition: color .2s ease;
    &:hover{
      color: #101828;
    }
    &--profile{
      background: transparent url("./images/login/events.svg") 15px center no-repeat;
      background-size: 19px;
    }
    &--purse{
      background: transparent url("./images/login/wallet.svg") 16px center no-repeat;
      background-size: 16px;
    }
    &--settings{
      background: transparent url("./images/login/setting.svg") 15px center no-repeat;
      background-size: 18px;
    }
    &--logout{
      background: transparent url("./images/login/logout.svg") 16px center no-repeat;
      background-size: 16px;
    }
    &--login{
      background: transparent url("./images/login/plus.svg") 16px center no-repeat;
      background-size: 13px;
      font-size: 13px;
    }
  }
  &-owd{
    border-top: 1px solid #eeeeee;
    margin-top: 8px;
    color: #101828;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding: 12px 16px;
    display: block;
  }
  &-awl{

  }
  &-awli{
    display: block;
    padding: 8px 16px;
  }
  &-aww{
    display: flex;
    align-items: center;
  }
  &-awi{
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 24px;
  }
  &-awif{
    width: calc(100% - 40px);
  }
  &-awn{
    font-family: "Manrope";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #101828;
  }
  &-aww{
    font-family: "Manrope";
    font-weight: 500;
    line-height: 16px;
    font-size: 11px;
    color: #758793;
  }
  &-lbi{
    font-family: "Manrope";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 7px 16px;
    display: block;
    border: 1px solid;
    border-radius: 4px;
    margin-right: -16px; 
    @media (min-width: 768px) {
      margin-left: 16px;
      margin-right: 0; 
    }
    &--log{
      @media (max-width: 767px) {
        background: transparent url("./images/login.svg") center center no-repeat;
        border: none;
        width: 48px;
        height: 48px;
        border-radius: 0;
        text-indent: -9999px;
        background-size: 32px;
      }
      @media (min-width: 768px) {
        background-color: #006cb4;
        border-color: #006cb4;
        color: #fff;
      }
    }
    &--reg{
      border-color: #006cb4;
      color: #006cb4;
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
  &-slv{
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    top: 64px;
    left: 0;
    right: 0;
    padding: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 99;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    position: absolute;
    &.is-a{
      max-height: 10000px;
      opacity: 1;
      visibility: visible;
      position: static;
      padding: 16px 0;
      @media (min-width: 576px) {
        padding: 16px 0 24px;
      }
      @media (min-width: 768px) {
        transition: all 0.3s;
        padding: 32px 0 48px;
        position: absolute;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
      }
    }
    .n7g-row{
      margin: 0 -16px;
      @media (max-width: 767px) {
        display: block;
      }
    }
    // .n7g-col{
    //   @media (max-width: 767px) {
    //     @media (min-width: 576px) {
    //       display: flex;
    //     }
    //   }
    // }
    @media (max-width: 575px) {
      top: 96px;
    }
  }
  &-col{
    flex: 1;
    padding: 0 16px;
  }
  &-clm{
    & + .n7g-clm {
      @media (min-width: 768px) {
        margin-top: 24px;
      } 
    }
    @media (max-width: 767px) {
      .n7g-lnk{
        display: none;
      }
      &.is-a{
        padding-bottom: 8px;
        .n7g-ttl{
          &:after {
            transform: rotate(-180deg);
            margin-top: -15px;
          }
        }
        .n7g-lnk{
          display: block;
        }
      }
    }
  }
  &-ttl{
    font-family: "Manrope";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 0;
    display: block;
    @media (max-width: 767px) {
      position: relative;
      &:after{
        content: "";
        display: block;
        background: transparent url("./images/arrow-down.svg") center center no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
        right: 8px;
        top: 50%;
        margin-top: -16px;
      }
    }
    @media (min-width: 768px) {
      margin-bottom: 4px;
    }
  }
  a.n7g-lnk{
    display: block;
    text-decoration: none;
    font-family: "Manrope";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 4px 0;
    color: #707070;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover{
      color: #006cb4;
    }
  }
}